@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
body{
  background-color: white;
  overflow-x: hidden;
 
}
a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}
.container{
  padding-left:10px;
  padding-right:10px;
}
.btn{
  background-color: rgb(72, 72, 240);
  color:white;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  border:0;
  outline:0;
  justify-content:center;
  outline:rgb(72, 72, 240);
  
}   
.contact-form-section h1{
color: black;
}
